{% extends "base.html" %}
{% load static %}
{% block contenido %}

<center>
<img src="{% static "assets/img/trainers/agustin.jpg" %}" class="img-fluid" alt="" width = "250" height = "250">
</center>
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Agustín
            <span class="text-primary">Gallo</span>
        </h1>
        <div class="subheading mb-5">
            San Miguel de Tucumán · Tucumán · Argentina ·
            <a href="mailto:name@email.com">agustingallo958@gmail.com</a>
        </div>
        <p class="lead mb-5">Soy un estudiante avanzado de la carrera de Ingeniería Industrial. Apasionado por la ciencia y la tecnología, especialmente la física. Estoy dando mis primeros pasos en el mundo de la programación y me entusiasma mucho relacionarlo con mi vida laboral.</p>
    </div>
</section>

{% endblock %}