{% extends "base.html" %}
{% load static %}
{% block contenido %}

<center>
<h1 class="logo me-auto"><a href="/">Partitures</a></h1>
</center>
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <div class="subheading mb-5">
            San Miguel de Tucumán · Tucumán · Argentina ·
        </div>
        <p class="lead mb-5">Esta página web consiste en un blog en el cual las personas pueden registrarse, loguearse y subir partituras en formato imagen. Destacando características como: dificultad, autor, entre otros detalles.</p>
    </div>
</section>

{% endblock %}